@model IEnumerable<DaemonCharacter.Domain.CharacterModel>

@{
    ViewBag.Title = "List of Characters";
}

<h2 class="animated wow fadeInUp" data-wow-delay="0.2s">
    <i class="fa fa-logo animated wow fadeInDown"></i>
    &nbsp;List of Characters
</h2>

<p>
    @Html.ActionLink("Create Player", "CreatePlayer") | @Html.ActionLink("Create NPC", "CreateNPC", "Character")
</p>


@foreach (var item in Model)
{
    <div class="col-md-3 table-bordered animated form-group" style="margin:5px;border-radius:5px;">
        <strong>@Html.DisplayFor(modelItem => item.name)</strong><br />
        @Html.DisplayFor(modelItem => item.gender)&nbsp;|&nbsp; @Html.DisplayFor(modelItem => item.race) <br />

        <a href="~/Character/Edit/@item.id" class="fa fa-edit animated wow fadeInDown" title="Edit"> </a>&nbsp;&nbsp;
        <a href="~/Character/@Html.Raw(item.GetType().BaseType.Name.Replace("Model", ""))Details/@item.id" class="fa fa-details animated wow fadeInDown" title="Details"> </a>&nbsp;&nbsp;
        <a href="~/Character/Delete/@item.id" class="fa fa-delete animated wow fadeInDown" title="Delete"> </a>
    </div>
}


