@if (!Request.IsAuthenticated)
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index","Home")';
    </script>
}

@model DaemonCharacter.Domain.NonPlayerModel

@{
    ViewBag.Title = "NonPlayer Form Details";
}
<head>
    <title>NonPlayer Form Details</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DynamicForm.js")"></script>
</head>
<h2>@Html.DisplayFor(model => model.name)</h2>
<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.name)</strong></td>
        <td>@Html.DisplayFor(model => model.name)</td>

        <td><strong>@Html.DisplayNameFor(model => model.gender)</strong></td>
        <td>@Html.DisplayFor(model => model.gender.name)</td>
        
        <td><strong>@Html.DisplayNameFor(model => model.race)</strong></td>
        <td>@Html.DisplayFor(model => model.race.name)</td>

    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.chalengeLevel)</strong></td>
        <td>@Html.DisplayFor(model => model.chalengeLevel)</td>
        
        <td><strong>@Html.DisplayNameFor(model => model.maxLife)</strong></td>
        <td>@Html.DisplayFor(model => model.maxLife)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.publicAnnotations)</strong></td>
        <td colspan="4">@Html.DisplayFor(model => model.publicAnnotations)</td>
    </tr>
</table>
<br />
<section id="aside-character-form-right">
    @{Html.RenderAction("ListCharacterWithBonus", "CharacterAttribute", new { Model.id });}
</section>
<section id="aside-character-form-left">
    @{Html.RenderAction("ListCharacterWithNoBonus", "CharacterAttribute", new { Model.id });}
</section>
