@model IEnumerable<DaemonCharacter.Application.ViewModels.Player.SelectedPlayerItemViewModel>

@if (Model.ToList().Count > 0)
{
    <table class="table table-responsive table-bordered" id="TableItems_@{@ViewBag.id;}">
        <thead>
        <tr>
            <th class="small text-center">@Html.LabelFor(m => Model.FirstOrDefault().ItemName)</th>
            <th class="small text-center">@Html.LabelFor(m => Model.FirstOrDefault().PlayerItemQtd)</th>
            <th class="small text-center"><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr id="@Html.Raw(item.ItemId)">
                <td class="small item-info" id="td_@Html.Raw(item.ItemId)">
                    @Html.DisplayFor(m => item.ItemName)
                    <div id="tooltip_@Html.Raw(item.ItemId)" class="mdl-tooltip" data-mdl-for="td_@Html.Raw(item.ItemId)">
                    </div>
                </td>
                <td class="small">@Html.DisplayFor(m => item.PlayerItemQtd)</td>

                @if (item.ItemUniqueUse)
                {
                    <td class="small">
                        <input type="button" value="Remove" class="btn btn-danger"/>
                    </td>
                }
                else
                {
                    <td class="small">
                        <input type="button" value="Bag" class="btn btn-info"/>
                        <input type="button" value="Throw" class="btn btn-danger"/>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}