@model IEnumerable<DaemonCharacter.Application.ViewModels.Player.SelectedPlayerItemViewModel>

@if (Model.ToList().Count > 0)
{
    <table class="table table-responsive table-bordered" id="TableMagics_@{@ViewBag.id;}">
        <thead>
            <tr>
                <th class="small text-center">@Html.LabelFor(m => Model.FirstOrDefault().ItemName)</th>
                <th class="small text-center">@Html.LabelFor(m => Model.FirstOrDefault().PlayerItemQtd)</th>
                <th>Using</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td class="small">@Html.DisplayFor(m => item.ItemName)</td>
                    <td class="small">@Html.DisplayFor(m => item.PlayerItemQtd)</td>
                    <td class="small">@Html.DisplayFor(m => item.PlayerItemActive)</td>
                </tr>
            }
        </tbody>
    </table>

}