@model DaemonCharacter.Application.ViewModels.Player.PlayerViewModel

@{
    ViewBag.Title = "Create Player";
}
@section CustomStyle {
    @Styles.Render("~/bundles/playerCss")
    @Styles.Render("~/bundles/Sprite/Attributes")
}
<h4 class="animated wow fadeInUp" data-wow-delay="0.2s">
    <i class="fa fa-shield animated wow fadeInDown"></i>
    &nbsp;Create Player
</h4>
<ul class="process-steps nav nav-justified">
    <li class="active">
        <a href="#step1" data-toggle="tab">
            <div class="center-icon"><i class="sprite sprite-Mind-Map-50 div-icon center-icon"></i></div>
        </a>
        <p>Basic Information</p>
    </li>
    <li>
        <a href="#step2" data-toggle="tab">
            <div class="center-icon"><i class="sprite sprite-Stick-Fighting-50 div-icon center-icon"></i></div>
        </a>
        <p>Attributes</p>
    </li>
    <li>
        <a href="#step3" data-toggle="tab">
            <div class="center-icon"><i class="sprite sprite-Talent div-icon center-icon"></i></div>
        </a>
        <p>Talents</p>
    </li>
    <li>
        <a href="#step4" data-toggle="tab">
            <div class="center-icon"><i class="sprite sprite-Money div-icon center-icon"></i></div>
        </a>
        <p>Items</p>
    </li>
    <li>
        <a href="javascript:void(0)" id="btnCreatePlayer">
            <div class="center-icon"><i class="sprite sprite-Ignore-48 div-icon center-icon"></i></div>
        </a>
        <p>Create Player</p>
    </li>
</ul>
<div id="MessageSummary">
    @Html.Partial("_MessageSummary")
</div>
<hr />
<section id="slider" class="fullheight page-player">
    <div class="tab-content create-player-body">
        <div role="tabpanel" class="tab-pane active" id="step1">
            @Html.Partial("_CreateBasicInformation", Model)
        </div>

        <div role="tabpanel" class="tab-pane" id="step2">
            @{Html.RenderAction("_Create", "CharacterAttribute", new {player = Model.SelectedAttributes});}
        </div>
        <div role="tabpanel" class="tab-pane" id="step3">
            @{Html.RenderAction("_CreateTalent", "CharacterAttribute", new {player = Model.SelectedAttributes});}
        </div>
        <div role="tabpanel" class="tab-pane" id="step4">
            @{Html.RenderAction("_Create", "PlayerItem", new {player = Model.SelectedItems});}
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/playerScripts")
    @Scripts.Render("~/bundles/dataTables")
    <script>
        $(document).ready(function() {
            document.getElementById("CharacterImage").onchange = function() {
                var reader = new FileReader();

                reader.onload = function(e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        });

        // Table Init
        InitTable('TableSearch');
        InitTable('TableTalents');
        InitTable('TableSelected');
        InitTable('TableAttribute');
        InitTable('table-item-selected');
        InitTable('table-item-available');

        jQuery('.dataTable').wrap('<div class="dataTables_scroll" />');

    </script>


}