@using AutoMapper.Execution
@model DaemonCharacter.Application.ViewModels.Player.PlayerViewModel

@{
    ViewBag.Title = "Player Sheet";
}

@section CustomStyle {
    <link rel="stylesheet" href="~/Content/PlayerSheet/PlayerSheet.css" />
    <link rel="stylesheet" href="~/Content/PlayerSheet/aside_playersheet.css" />
    @Styles.Render("~/bundles/Sprite/playersheet")
    @Styles.Render("~/bundles/Sprite/Attributes")
}

@section PlayerSheet {
    @{ Html.RenderPartial("_SideMenu"); }
}

@Html.HiddenFor(m => Model.CharacterId)

<div class="col-md-12" id="PlayerSheetContainer">

    <div class="col-md-12 player-sheet-header animated wow fadeInUp fixedElement" data-wow-delay="0.3s">
        <p class="text-center">
            <i class="fa fa-user animated wow fadeInDown"></i>&nbsp;
            <strong>@Html.Raw(Model.CharacterName)</strong>
        </p>
        <div class="col-md-7">
            <table class="table table-responsive borderless PlayerSheet" id="TableHeader">
                <tbody>
                    <tr>
                        <td rowspan="5" style="vertical-align: middle">
                            <img src="~/Images/aragorn.jpg" width="150" height="125" style="border-radius: 10px;" />
                        </td>
                        <td class="inline-flex form-group">
                            @Html.LabelFor(model => model.SelectedCampaign, new { @class = "font-bold" }):&nbsp;&nbsp;
                            @Html.DisplayFor(model => model.SelectedCampaign.CampaignName)
                        </td>
                        <td class="inline-flex pull-right form-group">
                            @Html.LabelFor(model => model.PlayerLevel, new { @class = "font-bold" }):&nbsp;&nbsp;
                            <input type="number" value="@Html.Raw(Model.PlayerLevel)" id="PlayerLevel" class="textbox-small text-editable" />
                            @*<a href="javascript:void(0)" title="Save Changes" style="margin-top: 10px;"><i class="fa fa-save"></i></a>*@
                        </td>
                    </tr>
                    <tr>
                        <td class="inline-flex form-group">
                            @Html.LabelFor(model => model.CharacterRace, new { @class = "font-bold" }):&nbsp;&nbsp;
                            @Html.DisplayFor(model => model.CharacterRace)
                        </td>
                        <td class="inline-flex form-group">
                            @Html.LabelFor(model => model.CharacterGender, new { @class = "font-bold" }):&nbsp;&nbsp;
                            @Html.DisplayFor(model => model.CharacterGender)
                        </td>
                        <td class="inline-flex pull-right form-group">
                            @Html.LabelFor(model => model.PlayerMoney, new { @class = "font-bold" }):&nbsp;&nbsp;
                            <input type="number" value="@Html.Raw(Model.PlayerMoney)" id="PlayerMoney" class="textbox-small text-editable" />
                            @*<a href="javascript:void(0)" title="Save Changes" style="margin-top: 10px;"><i class="fa fa-save"></i></a>*@
                        </td>
                    </tr>
                    <tr>
                        <td class="inline-flex form-group">
                            @Html.LabelFor(model => model.PlayerExperience, new { @class = "font-bold" }):&nbsp;&nbsp;
                            <input type="number" value="@Html.Raw(Model.PlayerExperience)" id="PlayerExperience" class="textbox-small text-editable" />
                        </td>
                        <td class="inline-flex form-group pull-right">
                            @Html.LabelFor(model => model.PlayerAge, new { @class = "font-bold" }):&nbsp;&nbsp;
                            <input type="number" value="@Html.Raw(Model.PlayerAge)" id="PlayerAge" class="textbox-small text-editable" />
                        </td>
                    </tr>
                    <tr>
                        <td class="inline-flex form-group">
                            @Html.LabelFor(model => model.CharacterRemainingLife, new {@class = "font-bold"}):&nbsp;
                            <label id="CharacterRemainingLife" class="textbox-smaller" style="margin: 5px;">
                                @Html.DisplayFor(model => model.CharacterRemainingLife)
                            </label>

                            <div class="health-bar" data-total="@Html.Raw(Model.CharacterMaxLife)" data-value="@Html.Raw(Model.CharacterRemainingLife)">
                                <div class="bar">
                                    <div class="hit"></div>
                                </div>
                            </div>
                            <input type="number" id="CharacterMaxLife" value="@Html.Raw(Model.CharacterMaxLife)" min="@Html.Raw(Model.CharacterMaxLife)" class="textbox-smaller text-editable" style="margin-left: 5px;" />
                        </td>
                        <td class="inline-flex form-group pull-right">
                            <div class="inline-flex pull-right">
                                <a href="javascript:void(0)" class="hit-5 text-center"><i class="glyphicon glyphicon-chevron-down"></i><br />-5</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="hit-3 text-center"><i class="glyphicon glyphicon-chevron-down"></i><br />-3</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="hit-1 text-center"><i class="glyphicon glyphicon-chevron-down"></i><br />-1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <a href="javascript:void(0)" class="life-1 text-center"><i class="glyphicon glyphicon-chevron-up"></i><br />+1</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="life-3 text-center"><i class="glyphicon glyphicon-chevron-up"></i><br />+3</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="life-5 text-center"><i class="glyphicon glyphicon-chevron-up"></i><br />+5</a>&nbsp;&nbsp;
                                @*<a href="javascript:void(0)" title="Save Changes" style="margin-top: 10px;"><i class="fa fa-save"></i></a>*@
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3" style="height:150px;margin:0">
            @Html.LabelFor(m => Model.PlayerBackground, new { @class = "font-bold" })
            @Html.TextAreaFor(m => m.PlayerBackground, new { @class = "form-control", @readonly = "readonly", style = "height:100%" })
        </div>

        <div class="col-md-2" style="height:125px;margin:0">
            @Html.LabelFor(m => m.PrivateAnnotations, new { @class = "font-bold" })
            @Html.TextAreaFor(m => m.PrivateAnnotations, new {@class = "form-control", style = "height:100%" })&nbsp;
            <a href="javascript:void(0)" title="Save Private Annotation" style="margin-top: 10px;" class="pull-right change-pvt"><i class="fa fa-save"></i></a>
        </div>

    </div>
    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-attributes">
        <p class="text-center">
            <i class="main-icon sprite sprite-Kicking-50 div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right box minimizeBox" title="Minimize"></i>
            <strong>Attributes</strong>
        </p>
        <div>
            @{ ViewBag.id = 1; }
            @Html.Partial("_PlayerSheetAttributes", Model.SelectedAttributes.Where(t => t.AttributeType == AttributeType.Characteristic).ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-skills">
        <p class="text-center">
            <i class="main-icon sprite sprite-Stick-Fighting-50 div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>Skills</strong>
        </p>
        <div>
            @{ ViewBag.id = 2; }
            @Html.Partial("_PlayerSheetAttributes", Model.SelectedAttributes.Where(t => t.AttributeType == AttributeType.Skill || t.AttributeType == AttributeType.Misc).ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-talents">
        <p class="text-center">
            <i class="main-icon sprite sprite-Talent div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>Talents</strong>
        </p>
        <div>
            @Html.Partial("_PlayerSheetTalents", Model.SelectedAttributes.Where(t => t.AttributeType == AttributeType.Talent).ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-magics">
        <p class="text-center">
            <i class="main-icon sprite-playersheet sprite-playersheet-Magic div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>Magics Activated</strong>
        </p>
        <div>
            @{ ViewBag.id = 1; }
            @Html.Partial("_PlayerSheetMagics", Model.SelectedItems.ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-magics">
        <p class="text-center">
            <i class="main-icon sprite-playersheet sprite-playersheet-Wizard-48 div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>All Magics</strong>
        </p>
        <div>
            @{ ViewBag.id = 2; }
            @Html.Partial("_PlayerSheetMagics", Model.SelectedItems.ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-items">
        <p class="text-center">
            <i class="main-icon sprite-playersheet sprite-playersheet-Viking-Ship div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>Using Items</strong>
        </p>
        <div>
            @{ ViewBag.id = 1; }
            @Html.Partial("_PlayerSheetItems", Model.SelectedItems.Where(t => t.PlayerItemUsingItem).ToList())
        </div>
    </div>

    <div class="player-sheet-detail animated wow fadeInUp" data-wow-delay="0.4s" id="div-items">
        <p class="text-center">
            <i class="main-icon sprite-playersheet sprite-playersheet-Treasure-Map div-icon"></i>&nbsp;
            <i class="glyphicon glyphicon-remove-circle pull-right closeBox" title="Close"></i>
            <i class="glyphicon glyphicon-resize-small pull-right minimizeBox" title="Minimize"></i>
            <strong>Bag</strong>
        </p>
        <div>
            @{ ViewBag.id = 2; }
            @Html.Partial("_PlayerSheetItems", Model.SelectedItems.Where(t => !t.PlayerItemUsingItem).ToList())
        </div>
    </div>
</div>

<div id="update-message-container" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/PlayerSheet/PlayerSheet.js")
    @Scripts.Render("~/Scripts/PlayerSheet/app.js")
    @Scripts.Render("~/bundles/playerScripts")
    @Scripts.Render("~/bundles/dataTables")
    <script>

        // Table Init
        InitTable('TableAttribute_1', true);
        InitTable('TableAttribute_2', true);
        InitTable('TableTalents', true);
        InitTable('TableMagics_1', true);
        InitTable('TableItems_1', true);
        InitTable('TableMagics_2', true);
        InitTable('TableItems_2', true);


        jQuery('.dataTable').wrap('<div class="dataTables_scroll" />');

    </script>


}
