<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Role Play Hub</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />


    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700" rel="stylesheet" type="text/css" />

    <!-- Required plugin - Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

    @Styles.Render("~/Content/css")

    @RenderSection("CustomStyle", required: false)

    <!-- getmdl.io -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-red.min.css">
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>

    <!-- Particles -->
    @*<link rel="stylesheet" href="~/Content/particles.css" />*@
</head>
<body>

    @Html.Partial("_Menu")

    <div id="body" class="container-fluid">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer id="fh5co-footer" class="padding50">
        <div class="fh5co-footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.2s">
                        <h3 class="fh5co-lead">About</h3>
                        <ul>
                            <li><a href="#">About RPG Systems</a></li>
                            <li><a href="http://github.com/saleslessa" target="_blank">About Site Creator</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.4s">
                        <h3 class="fh5co-lead">Rules are Rules</h3>
                        <ul>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.6s">
                        <h3 class="fh5co-lead">More Links</h3>
                        <ul>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Frequently Ask Questions</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-12 col-md-pull-9 animated wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="fh5co-footer-logo"><a href="javascript:void(0);"><i class="fa fa-logo"></i> Role Play Hub</a></div>
                        <p class="fh5co-copyright"><small>&copy; 2016. All Rights Reserved.</small></p>
                        <p class="fh5co-social-icons">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/javascripts")

    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/particles.min.js"></script>
    <script type="text/javascript">
        particlesJS.load('body', '/Scripts/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>*@
</body>

</html>