<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name="Author" content="Sales Alencar [www.github.com/saleslessa]" />
    <title>@ViewBag.Title - Role Play Hub</title>
    <link href="~/Icon.png" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- Required plugin - Animate.css -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">*@

    @Styles.Render("~/bundles/css")
    @RenderSection("CustomStyle", required: false)

    <!-- Particles -->
    @*<link rel="stylesheet" href="~/Content/particles.css" />*@
</head>
<body class="smoothscroll enable-animation">
    <div id="wrapper">
        <div id="header" class="sticky dark clearfix">
            @Html.Partial("_Menu")
        </div>

        <div id="page-wrapper" class="container-fluid">
            @RenderBody()
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.2s">
                        <h3 class="fh5co-lead">About</h3>
                        <ul>
                            <li><a href="#">About RPG Systems</a></li>
                            <li><a href="http://github.com/saleslessa" target="_blank">About Site Creator</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.4s">
                        <h3 class="fh5co-lead">Rules are Rules</h3>
                        <ul>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.6s">
                        <h3 class="fh5co-lead">Photo and Images credits</h3>
                        <ul>
                            <li><a href="http://flickr.com" target="blank">Flickr</a></li>
                            <li><i><a href="http://www.freerangestock.com" target="blank">Free Range Stock</a></i></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-12 col-md-pull-9 animated wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="fh5co-footer-logo"><a href="javascript:void(0);"><i class="fa fa-logo"></i> Role Play Hub</a></div>
                        <p class="fh5co-copyright"><small>&copy; 2016. All Rights Reserved.</small></p>
                        <p class="fh5co-social-icons">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </p>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/javascripts")

    @RenderSection("scripts", required: false)

    <!-- getmdl.io -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-red.min.css">
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>



    @*<script src="~/Scripts/particles.min.js"></script>
        <script type="text/javascript">
            particlesJS.load('body', '/Scripts/particles.json', function () {
                console.log('callback - particles.js config loaded');
            });
        </script>*@
</body>

</html>