<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo pull-left" href="../Home">
            <img src="~/images/logo_dark.png" alt="" />
        </a>

        <!--
            Top Nav

            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse">
            <nav class="nav-main">

                <!--
                    .nav-onepage
                    Required for onepage navigation links

                    Add .external for an external link!
                -->
                <ul id="topMain" class="nav nav-pills nav-main nav-external">
                    <li>
                        <!-- HOME -->
                        <a href="../Home">
                            HOME
                        </a>
                    </li>
                    <li><a href="javascript:void(0);">Wiki</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Game Configuration<span id="Span1" class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">

                            <li>@Html.ActionLink("Attributes", "Index", "Attribute")</li>
                            <li>@Html.ActionLink("Items", "Index", "Item")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Campaigns<span id="Span2" class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">

                            <li>@Html.ActionLink("Players", "Index", "Player")</li>
                            <li>@Html.ActionLink("Non Players", "Index", "NonPlayer")</li>
                            <li>@Html.ActionLink("Campaigns", "Index", "Campaign")</li>
                            <li>@Html.ActionLink("Sessions", "Index", "Session")</li>
                            @*<li>@Html.ActionLink("Buy Items", "Index", "Item")</li>*@

                        </ul>
                    </li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                        </li>
                        <li>
                            @Html.ActionLink("Logoff", "Logoff", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                        </li>
                        <li>
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</header>