@model DaemonCharacter.Models.AttributeClass

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AttributeClass</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.minimum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.minimum)
            @Html.ValidationMessageFor(model => model.minimum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type.name)
        </div>
        <div class="editor-field">
           @Html.DropDownList("idAttributeType", String.Empty)
        </div>
        <div class="editor-label">
            <label>Bonus</label>
        </div>
        <div class="editor-field">
            @{Html.RenderAction("ListBonus");}
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div style="color:red">
    @ViewBag.message
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
