@if (!Request.IsAuthenticated)
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index","Home")';
    </script>
}


@model IEnumerable<DaemonCharacter.Models.AttributeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAttribute }) |
            @Html.ActionLink("Details", "Details", new { id = item.idAttribute }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idAttribute })
        </td>
    </tr>
}

</table>
