@model DaemonCharacter.Domain.CampaignModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CampaignModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shortDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shortDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.briefing)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.briefing)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maxPlayers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maxPlayers)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
