@model IEnumerable<DaemonCharacter.Domain.CampaignModel>

@{
    ViewBag.Title = "List of campaigns";
}

<h2 class="animated wow fadeInUp" data-wow-delay="0.2s">
    <i class="fa fa-logo animated wow fadeInDown"></i>
    &nbsp;My campaigns
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

    <div class="col-md-4 table-bordered animated wow" style="margin:5px;border-radius:5px;">
        <strong>@Html.DisplayFor(modelItem => item.name)</strong><br />
        @Html.DisplayFor(modelItem => item.shortDescription) <br />
        <strong>Start Year: </strong>@Html.DisplayFor(modelItem => item.startYear) &nbsp; | &nbsp; 
        <strong>Remaining Players: </strong>@Html.DisplayFor(modelItem => item.remainingPlayers) <br />

        <a href="~/Campaign/Edit/@item.id" class="fa fa-edit animated wow fadeInDown" title="Edit"> </a>&nbsp;&nbsp;
        <a href="~/Campaign/Details/@item.id" class="fa fa-details animated wow fadeInDown" title="Details"> </a>&nbsp;&nbsp;
        <a href="~/Campaign/Delete/@item.id" class="fa fa-delete animated wow fadeInDown" title="Delete"> </a>
    </div>

}
<br />
@{Html.RenderAction("ListAvailableCampaigns");}