@model DaemonCharacter.Models.ItemModel

@{
    ViewBag.Title = "Item Details";
}

<h2>Item Details</h2>

<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.effect)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.effect)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
