@model IEnumerable<DaemonCharacter.Models.CharacterAttributeClass>


<table cellpadding="5" cellspacing="5">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Value</th>
        <th>Bonus</th>
        <th>Total</th>
    </tr>

    @foreach (var items in Model)
    {

        <tr>
            <td>
                @Html.Raw(items.attribute.type.name)
            </td>
            <td>
                <span title="@Html.Raw(items.attribute.description)">
                    @Html.DisplayName(items.attribute.name)
                </span>
            </td>
            <td>
                <input type="number" class="dynamic-input-detail" id="ValAttr_@Html.Raw(items.idAttribute)" readonly="readonly" value="@Html.Raw(items.value)">
            </td>
            <td>
                @{
                    ViewBag.result = 0;
                    ViewBag.description = "";
                }

                @foreach (var subitem in items.bonusValues)
                {
                    ViewBag.description = ViewBag.description + ((DaemonCharacter.Models.CharacterAttributeClass)subitem).attribute.name + ": "
                        + ((DaemonCharacter.Models.CharacterAttributeClass)subitem).value.ToString()
                        + "\n";
                    ViewBag.result = ViewBag.result + ((DaemonCharacter.Models.CharacterAttributeClass)subitem).value;
                }

                <input type="number" title="@ViewBag.description" class="dynamic-input-detail" id="BonusAttr_@Html.Raw(items.idAttribute)" readonly="readonly" value="@ViewBag.result" min="@ViewBag.result">
            </td>
            <td>
                @{
                    ViewBag.result = ViewBag.result + items.value;
                 }
                <input type="number" class="dynamic-input-detail" id="TotalAttr_@Html.Raw(items.idAttribute)" readonly="readonly" value="@ViewBag.result" min="@ViewBag.result">
            </td>
        </tr>
    }
</table>
<p class="messages" id="CharacterAttributeMessage"></p>

