<aside class="float-right" id="login">
    @Html.Partial("_LoginPartial")
</aside> 
<nav>  
    <ul>
        <li class="sub">
            @Html.ActionLink("Home", "Index", "Home")
        </li>|
        <li class="sub">
            @Html.ActionLink("Attributes", "Index", "Attribute")
            <ul>
                <li>
                    @Html.ActionLink("Create", "Create", "Attribute")
                </li>
                <li class="sub">
                    @Html.ActionLink("Types", "Index", "AttributeType")
                    <ul>
                        <li>
                            @Html.ActionLink("Create", "Create", "AttributeType")
                        </li>
                    </ul>
                </li>
            </ul>
        </li>|
        <li class="sub">
            @Html.ActionLink("Characters", "Index", "Character")
            <ul>
                <li>
                    @Html.ActionLink("Create", "Create", "Character")
                </li>
            </ul>
        </li>
    </ul>
</nav>
