<script type="text/javascript" src="@Url.Content("~/Scripts/Menu.js")"></script>

<div id='cssmenu'>
    @if (Request.IsAuthenticated)
    {

        <ul>
            <li class='active'>
                <a href="~/Home/"><span>Home</span></a>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Attributes</span></a>
                <ul>
                    <li>@Html.ActionLink("List Attr", "Index", "Attribute")</li>
                    <li>@Html.ActionLink("Create", "Create", "Attribute")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Attribute Types</span></a>
                <ul>
                    <li>@Html.ActionLink("List Types", "Index", "AttributeType")</li>
                    <li>@Html.ActionLink("Create", "Create", "AttributeType")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Players</span></a>
                <ul>
                    <li>@Html.ActionLink("List Chars", "Index", "Character")</li>
                    <li>@Html.ActionLink("Create", "CreatePlayer", "Character")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>NPC</span></a>
                <ul>
                    <li>@Html.ActionLink("Create", "CreateNPC", "Character")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Campaigns</span></a>
                <ul>
                    <li>@Html.ActionLink("List Campaigns", "Index", "Campaign")</li>
                    <li>@Html.ActionLink("Create", "Create", "Campaign")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Races</span></a>
                <ul>
                    <li>@Html.ActionLink("List Them", "Index", "Race")</li>
                    <li>@Html.ActionLink("Create", "Create", "Race")</li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href="#"><span>Genders</span></a>
                <ul>
                    <li>@Html.ActionLink("List Genders", "Index", "Gender")</li>
                    <li>@Html.ActionLink("Create", "Create", "Gender")</li>
                </ul>
            </li>
            @*<li class='last'><a href='#'><span>Contact</span></a></li>*@
        </ul>
    }
    else
    {
        <ul>
            <li class='active'>
                <a href="~/Home/"><span>Home</span></a>
            </li>
        </ul>
    }
</div>
