@model DaemonCharacter.Application.ViewModels.Item.ItemViewModel

@{
    ViewBag.Title = "Edit Item";
}

@section CustomStyle {
    @Styles.Render("~/bundles/Sprite/Acoes")
}
<section id="slider" class="fullheight page-item">
    <div class="form-horizontal">
        <h3 class="animated wow fadeInUp" data-wow-delay="0.2s">
            <i class="sprite sprite-Edit-Item animated wow fadeInDown div-icon"></i>
            &nbsp;Edit @Html.Raw(Model.ItemName)
        </h3>
        <hr />
        <div id="MessageSummary">
            @Html.Partial("_MessageSummary")
        </div>
        @Html.HiddenFor(model => model.ItemId)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemEffect, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ItemEffect, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemEffect, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EnumDropDownListFor(model => model.ItemCategory, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.ItemCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UniqueUse, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-2">
                <label class="switch switch-info" id="UniqueUse">
                    <input type="checkbox" checked="@Html.Raw(Model.UniqueUse)">
                    <span class="switch-label" data-on="YES" data-off="NO"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Bonus To:</label>
            <div class="col-md-4">
                @{Html.RenderPartial("_ListAvailableAttributeForBonus", Model.ItemAttribute);}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="~/Item" title="List">
                    <span class="sprite sprite-List-Item animated wow fadeInDown div-icon"></span>
                    &nbsp;<span>List</span>
                </a> | <input type="button" name="SaveItem" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
    }

</section>

@section Scripts {
    @Scripts.Render("~/Scripts/Item.js")
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">

        function InitTable() {

            var table = jQuery('#TableBonus');

            /* Fixed header extension: http://datatables.net/extensions/scroller/ */

            var oTable = table.dataTable({
                "dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // datatable layout without  horizobtal scroll
                "scrollY": "300",
                "deferRender": true,
                "order": [
                    [0, 'asc']
                ],
                "lengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                "pageLength": 10 // set the initial value
            });


            var tableWrapper = jQuery('#TableBonus'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
            tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
        }

        // Table Init
        InitTable();

    </script>
}
