@model IEnumerable<DaemonCharacter.Application.ViewModels.Item.ItemViewModel>

@{
    ViewBag.Title = "List of Items";
}

<h2 class="white">Index</h2>

<div class="Playercontainer">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemEffect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategory)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemEffect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCategory)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                </td>
            </tr>
        }

    </table>
</div>