@if (!Request.IsAuthenticated)
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index","Home")';
    </script>
}


@model DaemonCharacter.Models.AttributeTypeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AttributeType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { idAttributeType = Model.idAttributeType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
